.icon-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.fa-angle-up,
.fa-angle-down {
  position: relative;
  bottom: -4px;
  margin-left: 5px;
  font-size: 1.5rem;
  color: #2196f3;
}
